.swiper-pagination-bullet {
    background-color: white !important;
}

.swiper-pagination-horizontal {
    display: flex;
    justify-content: flex-end;;
    margin-bottom: 48px;
    padding-right: 48px;

}